# =========================
# NEXT.JS
# =========================
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

# =========================
# PYTHON
# =========================
backend/venv/
backend/__pycache__/
backend/**/*.pyc

# =========================
# ENV
# =========================
frontend/.env
frontend/.env.local
frontend/.env.*.local

backend/.env

# =========================
# OS
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log